<main>
  <legend>Upload a file</legend>
  <form action="/upload-file" method="post" enctype="multipart/form-data">
    <input type="file" name="my-file" id="my-file" />
    <button type="submit">Upload the file</button>
  </form>
  <a href="/log-out">Log out!</a>
</main>
