<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My folders</title>
  </head>
  <body>
    <main>
      <header>
        <form action="/create-new-folder" method="post">
          <legend>Create new folder</legend>
          <div class="new-folder">
            <label for="name">Name: </label
            ><input type="text" name="name" id="name" />
            <button type="submit">Create</button>
          </div>
        </form>
      </header>
      <div>
        <% allFolders.folders.forEach(element => { %>
        <a href="/folders/<%= element.name %>"><%= element.name %></a>
        <form action="/rename-folder" method="post">
          <input type="text" name="name" />
          <input type="hidden" name="id" value="<%=element.id%>" />
          <button type="submit">Rename</button>
        </form>
        <a href="/delete-folder/<%=element.id%>">Delete</a>
        <% }); %>
      </div>
      <a href="/">Back to Home</a>
    </main>
  </body>
</html>
