<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <main>
      <a href="/">Go to Home Page</a>
      <legend>Create new user!</legend>
      <form action="/register" method="post">
        <div class="username">
          <label for="username">Username</label
          ><input type="text" name="username" id="username" />
        </div>
        <div class="password">
          <label for="password">Password</label
          ><input type="password" name="password" id="password" />
        </div>
        <button type="submit">Register</button>
      </form>
    </main>
  </body>
</html>
